@bg_color        : black;
@card_color      : rgb(99, 99, 99);
@article_bg_color: lightgray;
@font_color      : white;
@font_size       : 12px;

body {
    background: @bg_color;
    color     : @font_color;
    font-size : @font_size;
}

section {
    padding: .5rem;
}

.card {
    background   : @card_color;
    margin-bottom: 1rem;

    .card-footer {
        display: flex;

        div {
            flex      : 1;
            text-align: center;
            align-self: center;
        }
    }

    &:nth-of-type(n) {
        background: saturate(@article_bg_color, 50%);
    }

    &:nth-of-type(2n) {
        background: darken(@article_bg_color, 50%);
    }

    &:nth-of-type(3n) {
        background: desaturate(@article_bg_color, 50%);
    }
}

#draggable {
    width     : 200px;
    height    : 50px;
    text-align: center;
}

#dropzone {
    background   : lighten(@bg_color, 50%);
    overflow     : auto;
    width        : 100%;
    height       : 500px;
    border       : 1px solid darkgray;
    border-radius: 5px;
    padding      : .5rem;
}